[submodule "isa-l"]
	path = isa-l
	url = https://github.com/spdk/isa-l.git
[submodule "isa-l-crypto"]
	path = isa-l-crypto
	url = https://github.com/intel/isa-l_crypto
[submodule "dpdk"]
	path = dpdk
	url = https://github.com/t3suzuki/dpdk
